*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.box > h1 {
    text-align: center;
}