body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
}

input[type="date"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;

}


button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
}
