*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: blanchedalmond;
   height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
    
 input{
display: none;
justify-content: center;
}

label{
border: none;
border-radius: 30px;
background-color: #3498db;
height: 55px;
width: 250px;
text-align: center;
padding: 15px 15px;
margin: 20px;
color: #fff;
font-size: 18px;
outline: 1px solid #333;
text-transform: capitalize;
}

label:hover {
  background-color: #2980b9;

}
label:active{
  transform: scale(0.89);
}
